body {
    margin:0px;
    background-image: url("https://wallpaperaccess.com/full/2142842.jpg");
  }
  #mc{
    font-size:100px;
    font-weight: bolder;
    color:white;
    width: 200px;
    position: absolute;
    top: 5%;
    left: 20%;
    transform: translate(-100%, -50%);
    display: block;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
  }
#mfind{
    font-size:20px; padding:40px 10px;
    font-weight: bolder;
    border-radius: 30px;
    color:black;
    background-color: white;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    box-shadow: 0 0 0 10px #cccc99, 0 0 0 15px #663333; 
}
#mshare{
    font-size:20px; padding:40px 10px;
    font-weight: bolder;
    border-radius: 30px;
    color:black;
    background-color: white;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    box-shadow: 0 0 0 10px #cccc99, 0 0 0 15px #663333;
}
#mlogin{
    font-size:20px; padding:10px 10px;
    font-weight: bold;
    border-radius: 5px;
    color:whitesmoke;
    background-color: #666633;
    width: 200px;
    position: absolute;
    top: 77%;
    left:43%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    box-shadow: 0 0 0 1px #ffffff
}
